*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

.contact-student,
.contact-teacher {
  border-radius: var(--radius-3);
  border: 1px solid var(--gray-a4);
}

.contact-student { background-color: var(--blue-3); }
.contact-teacher { background-color: var(--indigo-3); }
